.cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.span1 {
  font-size: 50px;
  font-weight: 700;
  color: aliceblue;
  background-color: dodgerblue;
}

.inp2 {
  width: 600px;
  height: 50px;
  border: 2px inset dodgerblue;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: dodgerblue;
  font-size: 26px;
  margin-top: 26px;
}

.inp2:hover {
  border: 4px solid aliceblue;
  background-color: aliceblue;
  color: dodgerblue;
}

.inp2::placeholder {
  text-align: center;
}

.button1 {
  border: none;
  margin-top: 36px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 26px;
  color: dodgerblue;
}

.button1:hover {
  background-color: dodgerblue;
  color: aliceblue;
}

.res-head {
  margin-top: 26px;
  color: dodgerblue;
  background-color: aliceblue;
  width: 600px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
